
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: components.dapr.io
  labels:
    app.kubernetes.io/part-of: "dapr"
spec:
  group: dapr.io
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Component describes an Dapr component type
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          auth:
            description: Auth represents authentication details for the component
            properties:
              secretStore:
                type: string
            required:
            - secretStore
            type: object
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          scopes:
            items:
              type: string
            type: array
          spec:
            description: ComponentSpec is the spec for a component
            properties:
              initTimeout:
                type: string
              ignoreErrors:
                type: boolean
              metadata:
                items:
                  description: MetadataItem is a name/value pair for a metadata
                  properties:
                    name:
                      type: string
                    secretKeyRef:
                      description: SecretKeyRef is a reference to a secret holding
                        the value for the metadata item. Name is the secret name,
                        and key is the field in the secret.
                      properties:
                        key:
                          type: string
                        name:
                          type: string
                      required:
                      - key
                      - name
                      type: object
                    value:
                      x-kubernetes-preserve-unknown-fields: true
                  required:
                  - name
                  type: object
                type: array
              type:
                type: string
              version:
                type: string
            required:
            - metadata
            - type
            - version
            type: object
        type: object
    served: true
    storage: true
  names:
    kind: Component
    plural: components
    singular: component
    categories:
    - all
    - dapr
  scope: Namespaced
