---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.0
  creationTimestamp: null
  name: pluggablecomponents.dapr.io
spec:
  group: dapr.io
  names:
    kind: PluggableComponent
    listKind: PluggableComponentList
    plural: pluggablecomponents
    singular: pluggablecomponent
  scope: Cluster
  versions:
    - name: v1alpha1
      schema:
        openAPIV3Schema:
          description: PluggableComponent is a especification for a pluggable component.
          properties:
            apiVersion:
              description:
                "APIVersion defines the versioned schema of this representation
                of an object. Servers should convert recognized schemas to the latest
                internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources"
              type: string
            kind:
              description:
                "Kind is a string value representing the REST resource this
                object represents. Servers may infer this from the endpoint the client
                submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"
              type: string
            metadata:
              type: object
            spec:
              description: PluggableComponentSpec is the spec for a pluggable component.
              properties:
                type:
                  type: string
                version:
                  type: string
              required:
                - type
                - version
              type: object
          type: object
      served: true
      storage: true
