# actionscore/actions preview-kit

trigger: none

pr : none

schedules:
- cron: "00 06 * * Tue-Sat"
  displayName: M-F 11:00PM PST daily build
  branches:
    include:
    - master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: DownloadBuildArtifacts@0
  displayName: 'Download Actions CLI Binaries'
  inputs:
    buildType: 'specific'
    project: 'bf44e908-7feb-4695-9882-2ec74aa9f834'
    pipeline: '6'
    buildVersionToDownload: 'latestFromBranch'
    branchName: 'refs/heads/master'
    downloadType: 'single'
    artifactName: 'drop'
    downloadPath: '$(System.ArtifactsDirectory)/release'
- task: DownloadBuildArtifacts@0
  displayName: 'Download Specs'
  inputs:
    buildType: 'specific'
    project: 'bf44e908-7feb-4695-9882-2ec74aa9f834'
    pipeline: '15'
    buildVersionToDownload: 'latestFromBranch'
    branchName: 'refs/heads/master'
    downloadType: 'single'
    artifactName: 'drop'
    downloadPath: '$(System.ArtifactsDirectory)/spec_drop'
- task: Bash@3
  displayName: 'Git clone preview repo'
  inputs:
    targetType: 'inline'
    script: |
      cd ..
      git config --global user.email "actionsvt@service.microsoft.com"
      git config --global user.name "Actions Release"

      git clone https://$(PREVIEW_GITHUB_USERNAME):$(PREVIEW_GITHUB_SECRET)@github.com/actionscore/preview.git
    workingDirectory: '$(Build.SourcesDirectory)'
- task: Bash@3
  displayName: 'Git clone actions/cli repo'
  inputs:
    targetType: 'inline'
    script: |
      cd ..
      git clone https://$(PREVIEW_GITHUB_USERNAME):$(PREVIEW_GITHUB_SECRET)@github.com/actionscore/cli.git
    workingDirectory: '$(Build.SourcesDirectory)'
- task: Bash@3
  displayName: 'Copy Preview Kit contents to preview repo'
  inputs:
    targetType: 'inline'
    script: |
      pushd ../preview
      rm -rf samples docs release_notes
      rm -f LICENSE README.md
      popd
      
      cp LICENSE ../preview/
      cp -R samples ../preview/
      cp -R docs ../preview/
      mv ../preview/docs/preview/README.md ../preview/
      mkdir ../preview/docs/cli
      mv ../cli/docs/preview/README.md ../preview/docs/cli/
      
      # Remove unnecessary files
      rm -rf ../preview/docs/decision_records
      rm -rf ../preview/docs/assets

      echo "copying specs..."
      mkdir ../preview/docs/spec
      unzip $(System.ArtifactsDirectory)/spec_drop/drop/actions_specifications_md.zip -d ../preview/docs/spec/
      cp $(System.ArtifactsDirectory)/spec_drop/actions_specifications_pdf.zip $(System.ArtifactsDirectory)/release/drop/actions_specifications_pdf.zip

      rm -f $(System.ArtifactsDirectory)/release/drop/*_linux_arm.zip
    workingDirectory: '$(Build.SourcesDirectory)'
- task: Bash@3
  displayName: 'Fix url in markdown documents to preview repo url'
  inputs:
    targetType: 'inline'
    script: |
      pushd ../preview
      
      find . -name '*.md' -type f -exec sed -i 's/github.com\/actionscore\/actions/github.com\/actionscore\/preview/gI' {} \;
      find . -name '*.md' -type f -exec sed -i 's/github.com\/actionscore\/cli\/releases/github.com\/actionscore\/preview\/releases/gI' {} \;
      find . -name '*.md' -type f -exec sed -i 's/github.com\/actionscore\/cli\/blob\/master\/README.md/github.com\/actionscore\/preview\/blob\/master\/docs\/cli\/README.md/gI' {} \;
      
      popd
    workingDirectory: '$(Build.SourcesDirectory)'
- task: Bash@3
  displayName: 'Git Push the changes to preview Repo'
  inputs:
    targetType: 'inline'
    script: |
      pushd ../preview
      
      cd docs/preview/release_notes/
      export LAST_RELEASE_NOTE_FILE=`ls | sort -V | tail -1`
      export LAST_VERSION=`basename $LAST_RELEASE_NOTE_FILE .md`
      echo "##vso[task.setvariable variable=RELEASE_VERSION]$LAST_VERSION"
      cd ../../../

      echo * Latest release version : $LAST_VERSION
  
      git add -A
      git commit -am "Actions Preview Kit $LAST_VERSION"
      git status

      git push origin master

      export LAST_COMMIT=`git rev-parse HEAD`
      echo "##vso[task.setvariable variable=RELEASE_COMMIT]$LAST_COMMIT"

      popd
    workingDirectory: '$(Build.SourcesDirectory)'
- task: GitHubRelease@0
  displayName: 'Upload Actions CLI to GitHub Release'  
  inputs:
    gitHubConnection: 'GitHub'
    repositoryName: 'actionscore/preview'
    action: 'create'
    target: '$(RELEASE_COMMIT)'
    tagSource: 'manual'
    tag: '$(RELEASE_VERSION)'
    isPreRelease: true
    addChangeLog: false
    releaseNotesFile: './docs/preview/release_notes/$(RELEASE_VERSION).md'
    title: 'Actions Preview Kit $(RELEASE_VERSION)'
    assets: '$(System.ArtifactsDirectory)/release/drop/*.zip'
