# actionscore/actions pipeline

trigger:
- master

variables:
  GOPATH: '$(system.defaultWorkingDirectory)/gopath'
  GOBIN:  '$(GOPATH)/bin'
  modulePath: '$(GOPATH)/src/github.com/$(build.repository.name)'

jobs:
- template: 'build-binary-template.yml'
  parameters:
    poolImage: macOS-latest
    targetOS: darwin
    binaryName: action
- template: 'build-binary-template.yml'
  parameters:
    poolImage: macOS-latest
    targetOS: darwin
    binaryName: assigner
- template: 'build-binary-template.yml'
  parameters:
    poolImage: macOS-latest
    targetOS: darwin
    binaryName: controller
- template: 'build-binary-template.yml'
  parameters:
    poolImage: ubuntu-latest
    targetOS: linux
    binaryName: action
- template: 'build-binary-template.yml'
  parameters:
    poolImage: ubuntu-latest
    targetOS: linux
    binaryName: assigner
- template: 'build-binary-template.yml'
  parameters:
    poolImage: ubuntu-latest
    targetOS: linux
    binaryName: controller
- template: 'build-binary-template.yml'
  parameters:
    poolImage: windows-2019
    targetOS: windows
    binaryName: action
- template: 'build-binary-template.yml'
  parameters:
    poolImage: windows-2019
    targetOS: windows
    binaryName: assigner
- template: 'build-binary-template.yml'
  parameters:
    poolImage: windows-2019
    targetOS: windows
    binaryName: controller
- job: 'publish_edge_binaries'
  pool:
    vmImage: 'windows-2019'
  dependsOn:
  - build_action_darwin
  - build_assigner_darwin
  - build_controller_darwin
  - build_action_linux
  - build_assigner_linux
  - build_controller_linux
  - build_action_windows
  - build_assigner_windows
  - build_controller_windows
  condition: |
    and
    (
      eq(dependencies.build_action_darwin.result, 'Succeeded'),
      eq(dependencies.build_assigner_darwin.result, 'Succeeded'),
      eq(dependencies.build_controller_darwin.result, 'Succeeded'),
      eq(dependencies.build_action_linux.result, 'Succeeded'),
      eq(dependencies.build_assigner_linux.result, 'Succeeded'),
      eq(dependencies.build_controller_linux.result, 'Succeeded'),
      eq(dependencies.build_action_windows.result, 'Succeeded'),
      eq(dependencies.build_assigner_windows.result, 'Succeeded'),
      eq(dependencies.build_controller_windows.result, 'Succeeded')
    )
  steps:
    - task: DownloadPipelineArtifact@2
      inputs:
        buildType: 'current'
        itemPattern: '**/*.zip'
        targetPath: '$(Pipeline.Workspace)'
    - task: AzureFileCopy@3
      inputs:
          SourcePath: '$(Pipeline.Workspace)'
          azureSubscription: 'Actions Releases'
          Destination: 'AzureBlob'
          storage: 'actionsreleases'
          ContainerName: 'bin'