# actionscore/actions pipeline

# Release process - https://github.com/actionscore/actions/wiki/Release-Process

trigger:
  branches:
    include:
    - master
  tags:
    include:
    - v*

variables:
  GOPATH: '$(system.defaultWorkingDirectory)/gopath'
  GOBIN:  '$(GOPATH)/bin'
  modulePath: '$(GOPATH)/src/github.com/$(build.repository.name)'
  BlobPrefix: ''

name: $(Date:yyyyMMdd)$(Rev:.r)

jobs:
- job: release_environment
  pool:
    vmImage: ubuntu-latest
  steps:
    - script: |
        SOURCEBRANCH=$(Build.SourceBranch)
        echo Source branch name : $SOURCEBRANCH

        if [[ $SOURCEBRANCH != refs/tags/v* ]]; then
          echo Clearing REL_VERSION value unless $SOURCEBRANCH is refs/tags/v.
          RELVERSION=""
          echo "##vso[task.setvariable variable=REL_VERSION;isOutput=true]$RELVERSION"
          exit 0
        fi

        RELVERSION=${SOURCEBRANCH#refs/tags/v}
        echo Release version : $RELVERSION
  
        echo "##vso[task.setvariable variable=REL_VERSION;isOutput=true]$RELVERSION"
        echo $RELVERSION > $(Build.ArtifactStagingDirectory)/release_version.txt
        echo $(Build.SourceVersion) > $(Build.ArtifactStagingDirectory)/release_commit_id.txt

        if [ "$LATEST_RELEASE" == "true" ]; then
          echo Checking release note for $RELVERSION...
          RELNOTE_PATH="docs/release_notes/v$RELVERSION.md"
          [ ! -f "$RELNOTE_PATH" ] && echo "$RELNOTE_PATH not found" && exit 1

          echo Add release tag
          echo "##vso[build.addbuildtag]release"
        fi
      name: env_var_step
    - task: PublishBuildArtifacts@1
      displayName: 'Publish build artifacts'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'
- template: 'build-binary-template.yml'
  parameters:
    poolImage: macOS-latest
    targetOS: darwin
    targetArch: amd64
    binaryExtension: ''
    archiveExtension: 'tar.gz'
    dependStep: release_environment
    relVersion: $[ dependencies.release_environment.outputs['env_var_step.REL_VERSION'] ]
- template: 'build-binary-template.yml'
  parameters:
    poolImage: ubuntu-latest
    targetOS: linux
    targetArch: arm
    binaryExtension: ''
    archiveExtension: 'tar.gz'
    dependStep: release_environment
    relVersion: $[ dependencies.release_environment.outputs['env_var_step.REL_VERSION'] ]
- template: 'build-binary-template.yml'
  parameters:
    poolImage: ubuntu-latest
    targetOS: linux
    targetArch: amd64
    binaryExtension: ''
    archiveExtension: 'tar.gz'
    dependStep: release_environment
    relVersion: $[ dependencies.release_environment.outputs['env_var_step.REL_VERSION'] ]
- template: 'build-binary-template.yml'
  parameters:
    poolImage: windows-2019
    targetOS: windows
    targetArch: amd64
    binaryExtension: '.exe'
    archiveExtension: 'zip'
    dependStep: release_environment
    relVersion: $[ dependencies.release_environment.outputs['env_var_step.REL_VERSION'] ]
- job: publish_edge_binaries
  pool:
    vmImage: windows-2019
  dependsOn:
    - build_darwin_amd64
    - build_linux_amd64
    - build_linux_arm
    - build_windows_amd64
    - release_environment
  condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
  variables:
    REL_VERSION: $[ dependencies.release_environment.outputs['env_var_step.REL_VERSION'] ]
  steps:
    # binaries from master will be stored in edge/[branch_date.revision] folder in blob storage
    - script: |
        echo ##vso[task.setvariable variable=BlobPrefix]edge
        echo ##vso[task.setvariable variable=TargetContainer]release
      condition: not(startsWith(variables['Build.SourceBranch'], 'refs/tags/v'))
    # binaries from release-* will be stored in release/release version folder in blob storage
    - script: |
        echo ##vso[task.setvariable variable=BlobPrefix]v$(REL_VERSION)
        echo ##vso[task.setvariable variable=TargetContainer]release
      condition: startsWith(variables['Build.SourceBranch'], 'refs/tags/v')
    - task: DownloadPipelineArtifact@2
      displayName: 'Download pipeline artifacts to workspace'
      inputs:
        buildType: 'current'
        itemPattern: '**/*.zip'
        targetPath: '$(Pipeline.Workspace)'
    - task: AzureFileCopy@3
      displayName: 'Publish archives to version folder'
      inputs:
        SourcePath: '$(Pipeline.Workspace)/drop'
        azureSubscription: 'Actions Releases'
        Destination: 'AzureBlob'
        storage: 'actionsreleases'
        ContainerName: '$(TargetContainer)'
        blobPrefix: '$(BlobPrefix)'
    - task: AzureFileCopy@3
      condition: and(startsWith(variables['Build.SourceBranch'], 'refs/tags/v'), eq(variables['LATEST_RELEASE'], 'true'))
      displayName: 'Publish archives to latest folder'
      inputs:
        SourcePath: '$(Pipeline.Workspace)/drop'
        azureSubscription: 'Actions Releases'
        Destination: 'AzureBlob'
        storage: 'actionsreleases'
        ContainerName: '$(TargetContainer)'
        blobPrefix: 'latest'
    - task: GitHubRelease@0
      condition: and(startsWith(variables['Build.SourceBranch'], 'refs/tags/v'), eq(variables['LATEST_RELEASE'], 'true'))
      displayName: 'Upload Actions binaries to GitHub Release'
      inputs:
        gitHubConnection: 'GitHub'
        repositoryName: '$(Build.Repository.Name)'
        action: 'create'
        target: '$(Build.SourceVersion)'
        tagSource: 'manual'
        tag: 'v$(REL_VERSION)'
        title: 'Actions Runtime $(REL_VERSION) Release'
        assets: '$(Pipeline.Workspace)/drop/**'
        releaseNotesFile: './docs/release_notes/v$(REL_VERSION).md'
        isPreRelease: true
        addChangeLog: false
- job: 'build_and_push_docker_image'
  pool: 
    vmImage: 'ubuntu-latest'
  dependsOn:
    - publish_edge_binaries
    - release_environment
  condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
  variables:
    REL_VERSION: $[ dependencies.release_environment.outputs['env_var_step.REL_VERSION'] ]
  steps:
    - template: 'build-and-push-image-template.yml'
      parameters:
        targetArch: amd64
        releaseVersion: $(REL_VERSION)
        isLatest: $(LATEST_RELEASE)
    - template: 'build-and-push-image-template.yml'
      parameters:
        targetArch: arm
        releaseVersion: $(REL_VERSION)
        isLatest: $(LATEST_RELEASE)
