{{- if eq .Values.enabled true }}
apiVersion: v1
kind: Service
metadata:
  name: dapr-sidecar-injector
  labels:
    {{- range $key, $value := .Values.global.k8sLabels }}
    {{ $key }}: {{ tpl $value $ }}
    {{- end }}
spec:
  type: ClusterIP
  ports:
  - port: 443
    targetPort: https
    protocol: TCP
    name: https
  selector:
    app: dapr-sidecar-injector
{{- end }}
