{{- if eq .Values.enabled true }}
apiVersion: v1
kind: Service
metadata:
  name: dapr-sidecar-injector
  namespace: {{ .Release.Namespace }}
  labels:
    {{- range $key, $value := .Values.global.k8sLabels }}
    {{ $key }}: {{ tpl $value $ }}
    {{- end }}
{{- if or .Values.service.annotations .Values.global.prometheus.enabled }}
  annotations:
    {{- if .Values.global.prometheus.enabled }}
    prometheus.io/scrape: "true"
    prometheus.io/port: "{{ .Values.global.prometheus.port }}"
    prometheus.io/path: "/"
    {{- end }}
  {{- if .Values.service.annotations }}
    {{- range $key, $value := .Values.service.annotations }}
      {{ $key }}: "{{ $value }}"
    {{- end }}
  {{- end }}
  {{- end }}
spec:
  selector:
    app: dapr-sidecar-injector
  type: {{ .Values.service.type }}
  ports:
  - port: 443
    targetPort: https
    protocol: TCP
    name: https
  {{- if eq .Values.global.prometheus.enabled true }}
  - name: metrics
    containerPort: {{ .Values.global.prometheus.port }}
    protocol: TCP
  {{- end}}
{{- end }}
