global:
  registry: docker.io/daprio
  tag: 'edge'
  dnsSuffix: ".cluster.local"
  logAsJson: false
  imagePullPolicy: IfNotPresent
  imagePullSecrets: ""
  nodeSelector: {}
  tolerations: []
  rbac:
    namespaced: false
  ha:
    enabled: false
    replicaCount: 3
    disruption:
      minimumAvailable: ""
      maximumUnavailable: "25%"
  prometheus:
    enabled: true
    port: 9090
  mtls:
    enabled: true
    workloadCertTTL: 24h
    allowedClockSkew: 15m
  actors:
    enabled: true
  daprControlPlaneOs: linux
  labels: {}
  seccompProfile: ""
  k8sLabels:
    app.kubernetes.io/name: "{{ .Release.Name }}"
    app.kubernetes.io/version: "{{ .Values.global.tag }}"
    app.kubernetes.io/part-of: "dapr"
    app.kubernetes.io/managed-by: "helm"
    app.kubernetes.io/component: "{{ .Values.component }}" # Should be set in each subchart

  issuerFilenames: {}
  ## the issuerFilenames dictionary, if setup, have to contain 3 keys: ca,cert,key
  # issuerFilenames:
  #   ca: "ca.crt"
  #   cert: "tls.crt"
  #   key: "tls.key"
  argoRolloutServiceReconciler:
    enabled: false

  operator:
    watchdogCanPatchPodLabels: false
