global:
  registry: docker.io/daprio
  tag: "0.8.0"
  logAsJson: false
  imagePullPolicy: Always
  imagePullSecrets: ""
  prometheus:
    enabled: true
    port: 9090
  mtls:
    enabled: true
    workloadCertTTL: 24h
    allowedClockSkew: 15m
