global:
  registry: docker.io/daprio
  tag: "0.11.3"
  logAsJson: false
  imagePullPolicy: Always
  imagePullSecrets: ""
  ha:
    enabled: false
    replicaCount: 3
  prometheus:
    enabled: true
    port: 9090
  mtls:
    enabled: true
    workloadCertTTL: 24h
    allowedClockSkew: 15m
  daprControlPlaneOs: linux
