
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dapr-placement
  labels:
    app: dapr-placement
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: dapr-placement
  template:
    metadata:
      labels:
        app: dapr-placement
    spec:
      containers:
      - name: dapr-placement
{{- if contains "/" .Values.image.name }}
        image: "{{ .Values.image.name }}"
{{- else }}
        image: "{{ .Values.global.registry }}/dapr:{{ .Values.global.tag }}"
{{- end }}
        imagePullPolicy: {{ .Values.global.imagePullPolicy }}
        ports:
          - containerPort: 50005
        command:
        - "./placement"
        args:
        - "--log-level"
        - {{ .Values.logLevel }}
        - "--log-json-enabled"
        - {{ .Values.logJsonEnabled }}
      serviceAccountName: dapr-operator