.project
.classpath
.settings
/server.restapi/gitignore
/server.restapi/*.log
/server.restapi/.settings/*
/adminInterface/node_modules
/server.restapi.dynamic/target/classes/com/bosch/iot/dashboard/api/adapter/*.class
/server.restapi.dynamic/target
/webhooks/target
/.metadata/
.idea
*/**/*.iml
*.iml
/bin/
*/**/target/
target/
*.log
*.swp
*/**/lombok*.jar
lombok*.jar
*private.env.json
*/**/node_modules/
