kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: dapr-operator
subjects:
- kind: ServiceAccount
  name: dapr-operator
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: dapr-operator-admin
  apiGroup: rbac.authorization.k8s.io
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: dapr-role-tokenreview-binding
subjects:
- kind: ServiceAccount
  name: dapr-operator
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:auth-delegator
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: dapr-operator-admin
rules:
  - apiGroups:
      - apps
    resources:
      - statefulsets
    verbs:
      - list
      - get
      - update
      - create
      - delete
      - watch

  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - list
      - get
      - update
      - create
      - delete

  - apiGroups:
      - ""
    resources:
      - serviceaccounts
      - services
      - configmaps
    verbs:
      - get
      - list
      - update
      - create

  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - update
      - create
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
  - apiGroups:
      - dapr.io
    resources:
      - components
      - configurations
    verbs:
      - get

  - apiGroups:
      - dapr.io
    resources:
      - components
      - components/status
      - components/scale
      - components/finalizers
    verbs:
      - create
      - get
      - list
      - update
      - patch
      - watch
      - delete
      - deletecollection

  - apiGroups:
      - dapr.io
    resources:
      - configurations
      - configurations/status
      - configurations/scale
      - configurations/finalizers
    verbs:
      - create
      - get
      - list
      - update
      - patch
      - watch
      - delete
      - deletecollection

  - apiGroups:
      - dapr.io
    resources:
      - subscriptions
      - subscriptions/status
      - subscriptions/scale
      - subscriptions/finalizers
    verbs:
      - create
      - get
      - list
      - update
      - patch
      - watch
      - delete
      - deletecollection
{{- if .Values.secretReader.enabled }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: secret-reader
  namespace: {{ .Values.secretReader.namespace }}
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
      - update
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: dapr-secret-reader
  namespace: {{ .Values.secretReader.namespace }}
subjects:
- kind: ServiceAccount
  name: default 
roleRef:
  kind: Role
  name: secret-reader
  apiGroup: rbac.authorization.k8s.io
{{- end }}
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: dashboard-reader
rules:
  - apiGroups:
      - dapr.io
    resources:
      - components
      - configurations
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - pods
      - pods/log
      - namespaces
    verbs:
      - get
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: dashboard-reader-global
subjects:
- kind: ServiceAccount
  name: dashboard-reader
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: dashboard-reader
  apiGroup: rbac.authorization.k8s.io
