# ------------------------------------------------------------
# Copyright (c) Microsoft Corporation and Dapr Contributors.
# Licensed under the MIT License.
# ------------------------------------------------------------

name: dapr-test-apps

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
      - release-*
jobs:
  build:
    name: Build on ${{ matrix.target_os }}_${{ matrix.target_arch }}
    runs-on: ${{ matrix.os }}
    env:
      GOVER: 1.17
      GOOS: ${{ matrix.target_os }}
      GOARCH: ${{ matrix.target_arch }}
      GOPROXY: https://proxy.golang.org
    strategy:
      matrix:
        os: [ubuntu-latest, windows-2019]
        target_arch: [arm, arm64, amd64]
        include:
          - os: ubuntu-latest
            target_os: linux
          - os: windows-2019
            target_os: windows
        exclude:
          - os: windows-2019
            target_arch: arm
          - os: windows-2019
            target_arch: arm64
    steps:
      - name: Set up Go ${{ env.GOVER }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GOVER }}
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Build all E2E test apps
        env:
          TARGET_OS: ${{ matrix.target_os }}
          TARGET_ARCH: ${{ matrix.target_arch }}
          DAPR_TEST_REGISTRY: localhost:5000
          DAPR_TEST_TAG: dev
        run: make build-e2e-app-all
      - name: Build all perf test apps
        if: matrix.target_os == 'linux' && matrix.target_arch == 'amd64'
        env:
          TARGET_OS: ${{ matrix.target_os }}
          TARGET_ARCH: ${{ matrix.target_arch }}
          DAPR_TEST_REGISTRY: localhost:5000
          DAPR_TEST_TAG: dev
        run: make build-perf-app-all
