#
# Copyright 2021 The Dapr Authors
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#     http://www.apache.org/licenses/LICENSE-2.0
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: dapr-bot-schedule

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:
jobs:
  automerge:
    if: github.repository_owner == 'dapr'
    name: Automerge and update PRs.
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install dependencies
        run: pip install PyGithub
      - name: Automerge and update
        env:
          MAINTAINERS: artursouza,mukundansundar,yaron2
          GITHUB_TOKEN: ${{ secrets.DAPR_BOT_TOKEN }}
        run: python ./.github/scripts/automerge.py
  prune_stale:
    name: Prune Stale
    runs-on: ubuntu-latest
    steps:
    - name: Prune Stale
      uses: actions/stale@v7.0.0
      with:
        repo-token: ${{ secrets.DAPR_BOT_TOKEN }}
        days-before-pr-stale: 60
        days-before-pr-close: 7
        days-before-issue-stale: 60
        days-before-issue-close: 7
        stale-issue-message: >
          This issue has been automatically marked as stale because it has not had activity in the
          last 60 days. It will be closed in the next 7 days unless it is tagged (pinned, good first issue, help wanted or triaged/resolved) or other activity
          occurs. Thank you for your contributions.
        close-issue-message: >
          This issue has been automatically closed because it has not had activity in the
          last 67 days. If this issue is still valid, please ping a maintainer and ask them to label it as pinned, good first issue, help wanted or triaged/resolved.
          Thank you for your contributions.
        stale-pr-message: >
          This pull request has been automatically marked as stale because it has not had
          activity in the last 60 days. It will be closed in 7 days if no further activity occurs. Please
          feel free to give a status update now, ping for review, or re-open when it's ready.
          Thank you for your contributions!
        close-pr-message: >
          This pull request has been automatically closed because it has not had
          activity in the last 67 days. Please feel free to give a status update now, ping for review, or re-open when it's ready.
          Thank you for your contributions!
        stale-issue-label: 'stale'
        exempt-issue-labels: 'pinned,good first issue,help wanted,triaged/resolved'
        stale-pr-label: 'stale'
        exempt-pr-labels: 'pinned'
        operations-per-run: 500
        ascending: true
